{% extends 'main/base.html' %}


{% block title %}Главная{% endblock %}

{% block page_header %}
    <div class="jumbotron">
        <h1 class="display-3">Делитесь своими темами!</h1>
        <p class="lead">Добавляйте новые темы и комментарии к ним, читайте комментарии других пользователей
            и комментируйте их темы! Редактируйте свои комментарии, если вдруг допустили ошибку или забыли что-то
        написать.</p>
        <a class="btn btn-lg btn-primary" href="{% url 'users:register' %}" role="button">Регистрация</a>
    </div>
{% endblock %}