{% extends 'main/base.html' %}

{% block title %} Topic: {{ topic }} {% endblock %}

{% block page_header %}
    <h3>
        {{ topic }}
        От {{ topic.user_name }}
    </h3>
{% endblock %}

{% block content %}
    <p>
        <a href="{% url 'main:new_entry' topic.id %}">Добавить комментарий</a>
    </p>

    {% for entry in entries %}
        <div class="card mb-3">
            <h4 class="card-header">
                {{ entry.date_added|date:'M, d, Y, H:i' }}
                {{ entry.user_name }}
                {% if entry.user_name == user_name %}
                    <small><a href="{% url 'main:edit_entry' entry.id %}">Редактировать</a></small>
                {% endif %}
            </h4>
            <div class="card-body">
                {{ entry.text|linebreaks }}
            </div>
        </div>
        {% empty %}
            <p>Нет комментариев по данной теме.</p>
        {% endfor %}

{% endblock %}