{% extends 'main/base.html' %}

{% block title %} Topics {% endblock %}

{% block page_header %}
    <h1>Topics</h1>
{% endblock %}

{% block content %}
    <ul>
        {% for topic in topics %}
            <li><h3>
                <a href="{% url 'main:topic' topic.id %}" class="link-danger link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">{{ topic }}</a>
            </h3></li>
        {% empty %}
            <li><h3>No topics have been added yet.</h3></li>
        {% endfor %}
    </ul>

    <h3><a href="{% url 'main:new_topic' %}" class="btn btn-lg btn-primary">Add a new topic</a></h3>

{% endblock %}